<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<center>
<h1>Products Page</h1>

<form action="insert">
<input placeholder="Enter Product name" name="productname"><br>
<input placeholder="Enter Product brand" name="productbrand"><br>
<input placeholder="Enter Product category" name="productcategory"><br>
<input placeholder="Enter Product price" name="price"><br>
<input placeholder="Enter Product discount" name="discount"><br>
<input placeholder="Enter Product quantity" name="quantity"><br>
<input placeholder="Enter image path" name="image"><br>

<input type="submit"> 

</form>

</center>

</body>
</html>